body {
    background-color: #fffff0;
}

.page {
    text-align: center;
    margin-top: 100px;
}

.title {
    font-size: 60px;
}

.answer {

}

button {
    font-size: 40px;
    margin-top: 20px;
}

input {
    font-size: 60px;
}